.samstag {
    color:blue;
}

.sonntag {
    color:red;
}

body {
    background-color:beige;
}

body {
    font-family:Cambria, Cochin, Georgia, Times,
    'Times New Roman', serif;
}

.headline {
    font-weight: 400;
    font-size: 30px;
}

.header {
    background-color: bisque;
    height: 60px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.content-table thead tr {
    background-color: bisque;
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}