body {
  background-color: beige;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.headline {
  font-weight: 540;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 3px white;
}

.p {
  text-align: center;
  font-size: 20px;
}

.captionButton {
  transition-duration: 0.2s;
  border: none;
  background: transparent;
  font-size: 25px;
  margin: 10px;
  color: whitesmoke;
}

.captionButton:hover {
  margin: 10px;
  color: white;
  border: hidden;
  border-radius: 33%;
  box-shadow: 0 0 10px whitesmoke;
}

.content-table {
  color: black;
  background-color: whitesmoke;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 25px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;
  box-shadow: 5px 5px 50px whitesmoke;
}

.content-table thead tr {
  background-color: #0b486b;
  color: white;
  text-align: center;
  font-weight: bold;
}

.content-table thead th:first-child {
  border-radius: 25px 0 0 0;
}

.content-table thead th:last-child {
  border-radius: 0 25px 0 0;
}

.content-table tbody tr {
  border: 1px solid #dddddd;
  height: 60px;
  text-align: center;
}

.content-table tbody td {
  padding: 12px 15px;
  border-left: 1px solid #dddddd;
  cursor: pointer;
}

.content-table tbody tr:first-child td:first-child {
  color: rgba(0, 0, 0, 0.301);
}

.content-table tbody tr:last-child td:nth-child(6) {
  color: rgba(0, 0, 0, 0.301);
}

.content-table tbody tr:last-child td:nth-child(7) {
  color: rgba(0, 0, 0, 0.301);
}

.content-table tbody tr:last-child td:nth-child(5) {
  color: rgba(0, 0, 0, 0.301);
}

.content-table tbody td:nth-child(6) {
  color: blue;
}

.content-table tbody td:nth-child(7) {
  color: red;
}

#today {
  background: rgb(255, 68, 0);
  color: white;
}

.content-table tbody td:hover {
  background-color: rgb(247, 144, 107);
  color: white;
}

.content-table caption {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 540;
  text-transform: uppercase;
  margin: 25px 0;
  color: white;
  box-shadow: 0 0 7px whitesmoke;
}

.tablec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listc {
  font-size: 20px;
}

.video {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.transbox {
  padding: 4%;
  border: #0b486b;
  border-style: double;
  border-width: 6px;
  margin: 30px;
  background-color: rgb(90, 90, 90);
  background-color: rgba(90, 90, 90, 0.5);
}

.myclock {
  position: relative;
  margin-top: -3rem;
  margin-left: 5rem;
  width: 250px;
  height: 250px;
  border: 5px solid black;
  border-radius: 50%;
  background: url(clock.png);
  background-size: cover;
  background-color: rgba(211, 211, 211, 0.248);
  box-shadow: 0 0 7px whitesmoke;
}

.hour {
  position: absolute;
  top: calc(50% - 3px);
  left: 50%;
  width: 30%;
  height: 6px;
  background: black;
  border-radius: 3px;
  animation: animate 86400s linear infinite;
  transform-origin: left;
  box-shadow: 0 0 7px whitesmoke;
}

.minute {
  position: absolute;
  top: calc(50% - 3px);
  left: 50%;
  width: 40%;
  height: 6px;
  background: black;
  border-radius: 3px;
  animation: animate 3600s linear infinite;
  transform-origin: left;
  box-shadow: 0 0 7px whitesmoke;
}

.second {
  position: absolute;
  top: calc(50% - 3px);
  left: 50%;
  width: 45%;
  height: 3px;
  background: black;
  border-radius: 3px;
  animation: animate 60s linear infinite;
  transform-origin: left;
  box-shadow: 0 0 7px whitesmoke;
}

.myclock span {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 7px whitesmoke;
}

@keyframes animate {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin: 100px 30px;
  height: 600px;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.item-headline {
  grid-column: 2;
  grid-row: 1;
}

.item-cal {
  grid-column: 2;
  grid-row: 2;
}

.item-list {
  grid-column: 2;
  grid-row: 3;
}

.item-clock {
  grid-column: 3;
  grid-row: 1;
}
