.samstag {
    color:blue;
}

.sonntag {
    color:red;
}

body {
    background-color:beige;
}

body {
    font-family:Cambria, Cochin, Georgia, Times,
    'Times New Roman', serif;
    color: white;
}

.headline {
    font-weight: 540;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 5px white;
}

.p {
    text-align: center;
    font-size: 20px;
}

.content-table {
    color:black;
    background-color:whitesmoke;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    box-shadow: 5px 5px 50px whitesmoke
}

.content-table thead tr {
    background-color:#0B486B;
    color:white;
    text-align: center;
    font-weight: bold; 
}

.content-table thead th:first-child {
    border-radius: 25px 0 0 0 ;
}

.content-table thead th:last-child {
    border-radius: 0 25px 0 0 ;
}

.content-table tbody tr {
    border:1px solid #dddddd;
    height: 60px;
    text-align: center;
}

.content-table tbody td {
    padding: 12px 15px;
    border-left: 1px solid #dddddd;
    cursor: pointer;
}

.heute {
    background:rgb(255, 68, 0);
    color:white
}

.content-table tbody td:hover {
    background-color:rgb(247, 144, 107);
    color: white;
}

.content-table caption {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 540;
    text-transform: uppercase;
    margin: 25px 0;
    color: white;
    box-shadow: 0 0 7px whitesmoke;
}

.clock {
    position:fixed;
    right: 30px;
    bottom: 70px;
    margin-top: 30px;
}

.tablec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listc {
    font-size: 20px;
}

.weather {
    position: fixed;
    left: 30px;
    bottom: 10px;
    margin-top: 30px;
}

.video {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.transbox {
    padding: 2%;
    border: #0B486B;
    border-style: double;
    border-width: 6px;
    margin: 30px;
    background-color: rgb(90, 90, 90);
    background-color: rgba(90, 90, 90, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin: 100px 30px;
    height: 600px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.item-clock {
    grid-column: 3;
    grid-row: 3;
}

.item-weather {
    grid-column: 1;
    grid-row: 3;
}

.item-headline {
    grid-column: 2;
    grid-row: 1;
}

.item-cal {
    grid-column: 2;
    grid-row: 2;
}

.item-list {
    grid-column: 2;
    grid-row: 3;
}